gostack-gympoint-backend/node_modules
gostack-gympoint-backend/.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
gostack-gympoint-web/node_modules
gostack-gympoint-web/.pnp
gostack-gympoint-web/.pnp.js

# testing
gostack-gympoint-web/coverage

# production
gostack-gympoint-web/build

# misc
gostack-gympoint-web/.DS_Store
gostack-gympoint-web/.env.local
gostack-gympoint-web/.env.development.local
gostack-gympoint-web/.env.test.local
gostack-gympoint-web/.env.production.local

gostack-gympoint-web/npm-debug.log*
gostack-gympoint-web/yarn-debug.log*
gostack-gympoint-web/yarn-error.log*

# OSX
#
gostack-gympoint-mobile/.DS_Store

# Xcode
#
gostack-gympoint-mobile/build/
gostack-gympoint-mobile/*.pbxuser
gostack-gympoint-mobile/!default.pbxuser
gostack-gympoint-mobile/*.mode1v3
gostack-gympoint-mobile/!default.mode1v3
gostack-gympoint-mobile/*.mode2v3
gostack-gympoint-mobile/!default.mode2v3
gostack-gympoint-mobile/*.perspectivev3
gostack-gympoint-mobile/!default.perspectivev3
gostack-gympoint-mobile/xcuserdata
gostack-gympoint-mobile/*.xccheckout
gostack-gympoint-mobile/*.moved-aside
gostack-gympoint-mobile/DerivedData
gostack-gympoint-mobile/*.hmap
gostack-gympoint-mobile/*.ipa
gostack-gympoint-mobile/*.xcuserstate

# Android/IntelliJ
#
gostack-gympoint-mobile/build/
gostack-gympoint-mobile/.idea
gostack-gympoint-mobile/.gradle
gostack-gympoint-mobile/local.properties
gostack-gympoint-mobile/*.iml

# node.js
#
gostack-gympoint-mobile/node_modules/
gostack-gympoint-mobile/npm-debug.log
gostack-gympoint-mobile/yarn-error.log

# BUCK
gostack-gympoint-mobile/buck-out/
gostack-gympoint-mobile/\.buckd/
gostack-gympoint-mobile/*.keystore
gostack-gympoint-mobile/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

gostack-gympoint-mobile/*/fastlane/report.xml
gostack-gympoint-mobile/*/fastlane/Preview.html
gostack-gympoint-mobile/*/fastlane/screenshots

# Bundle artifact
gostack-gympoint-mobile/*.jsbundle

# CocoaPods
gostack-gympoint-mobile/ios/Pods/
