<strong>Olá {{ student }}</strong>
<p>Sua pergunta no Gympoint foi respondida. Segue a sua pergunta e resposta:</p>
<p><strong>PERGUNTA</strong></p>
<p>{{ question }}</p>
<p><strong>RESPOSTA</strong></p>
<p>{{ answer }}</p>
